.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        width: 100%;
        max-width: 200px;
        align-self: center;
        background-color: var(--project-card-bg);
        border-radius: 20px;
    }

    a {
        width: fit-content;
        align-self: center;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }
    a:active {
        transform: scale(0.95);
    }

    

    .projectsContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    @media (width >= 800px) {
        .projectsContainer {
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0 30px;
          justify-content: space-evenly;
        }
        .hero {
          max-width: 350px;
          Width: 350px;
        }
    }
}