.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-carousel {
  display: flex;
  justify-content: center;
  position: relative;
  height: 400px;
  width: 100%;
  user-select: none;
  touch-action: none;
}

.card-carousel .card {
  display: inline;-block;
}