.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 1rem;
  overflow: hidden;
}

.card-carousel {
  position: relative;
  height: 400px;
  width: 100%;
  user-select: none;
  touch-action: none;
}