.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea, input:not([type="submit"]) {
    height: 50px;
    padding-left: 16px;
    width: 250px;
}

textarea {
    padding-top: 16px;
    height: 250px;
    resize: none;
}

input, textarea {
    border-radius: 20px;
    border: 1px solid #888;
    background-color: var(--background-color);
    box-sizing: border-box;
    justify-content: center;
    color: var(--form-text-color);
}

::placeholder {
    color: var(--form-text-color);
}

input[type="submit"] {
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #888;
    padding: 10px 20px;
    width: 100%;
}